.main-container {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-img {
    width: fit-content;
}

img{
    height: 100px;
}

.chart {
    position: relative;
    height: 40vh; 
    width: 40vw;
}

.logo{
    width: 120px;
    height: auto;
    align-self: center;
}
header{
    padding: 1px;
    background-color: #EBC7CA;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.58);
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #2F80ED;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button a {
    text-decoration: none;
    color: black;
  }
  
  .button-container button:hover {
    background-color: #3066ad;
  }
  