:root{
    --vementa: #6FCF97;
    --vmorango: #EB5757;
    --apetroleo: #2F80ED;
    --cinza: #4F4F4F;
    --cneutro: #BDBDBD;
    --bgcolor: #f7f3f0;
}

/* first section*/
#indexTop {
    background-image: url('../assets/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 0;
}
    /* apresentaçao */
    .textoApresentacao {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
    }

    .marketing {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
    .titleBgnd {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 5em;
        text-align: center;
    }
    /* apresentaçao */
/* first section*/

/* sobre section */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.cardTitle {
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.containerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.card {
    margin-left: 8em;
    width: 50%;
}

.card p {
    text-align: center;
    font-size: large;
    width: 100%;
}

.imgcard {
    width: 48%;
}

.cardImg {
    width: 270px;
    height: 270px;
    border-radius: 50%;
}


.card p {
    display: flex;
    width: 90%;
    text-align: center;
    font-size: large;
}

.card button {
    background: var(--apetroleo);
    color: #fff;
    font-size: 1.2em;
    border: 1px solid transparent;
    border-radius: 25px;
    width: 50%;
    height: 50px;
}

.cardImg {
    display: flex;
    justify-self: center;
    width: 270px;
    height: 270px;
    border-radius: 50%;
}
/* sobre section */
