*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
  
body{
    background: #f8d6b1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
main{
    flex: 1;
    padding-top: 12vh;
    padding: 2em;
}
  
.simulador{
    max-width: 800px;
    margin: 0 auto;
}
  
.simulador h1{
    margin-bottom: 1em;
}
  
.simulador p{
    margin-bottom: 2em;
}
  
.form-group{
    margin-bottom: 1em;
}

canvas#grafico {
    background-color: #fff;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block;
    max-width: 100%;
    border: 2px solid transparent;
    transition: transform 0.3s ease;
}

canvas#grafico:hover {
    transform: scale(1.02);
}

footer {
    height: 5vh;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c4c1c;
    border-top: 1px solid black;
    margin-top: 2px;
}