.container {
    border: 1px solid #ddd;
}
.inputBox
{
    height:5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
input
{
    height: 1rem;
    border-radius: 40px;
    padding: 0.5rem;
}
body
{
    background-color: rgb(43, 128, 43);
}