:root {
    --varmor: #334785;
    --Carmine: #A40414;
    --OysterPink: #EBC7CA;
    --FuzzyWuzzyBrown: #C55B63;
    --NewYorkPink: #D37C84;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
}

header nav {
    border: 0.1vh solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--varmor);
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 4vw;
}

.nav-voltar{
    height: 100%;
}

.nav-voltar button {
    height: 5vh;
    width: 10vw;
    font-size: 1.2rem;
    background-color: #2F80ED;
    border: none;
    border-radius: 1vh;
    box-shadow: 0.5vw 0.5vh 1vw rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 4vw;
}

.graficos-pizza {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4vw;
    width: 100%;
    padding: 4vh 0 2vh 0;
}

.grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 30vh;
    width: 15vw;
}

.grafico p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1vh;
    background-color: white;
    padding: 1vh 2vw;
    border-radius: 1vh;
    box-shadow: 0.3vw 0.3vw 1vw rgba(0, 0, 0, 0.2);
    width: max-content;
    max-width: 90%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.grafico canvas {
    width: 100%;
    height: 20vh;
}

#myChart1 {
    width: 30vw;
    height: 30vh;
}

.main-container {
    width: 40vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-container1 {
    width: 35vw;
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    height: 100%;
    width: 100%;
}



img {
    height: 7vh;
}

#section2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1vw;
    width: 100%;
}

.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.checkboxes {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    margin-top: 1vh;
    font-weight: bold;
}