@import url(./style.css);

body {
    overflow: hidden;
}

.topNav {
    background: var(--vmorango);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.topNav #logoTexto {
    color: var(--bgcolor);
}

.menu {
    position: fixed;
    left: 0;
    top: 80px;
    width: 20vw;
    height: 100vh;
    background-color: green;
    padding: 2rem 1rem;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.menu h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    margin-bottom: 3rem;
}

.menu a {
    display: block;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s;
}

.btn-menu,
.btn-rega {
    color: black;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.btn-sair {
    color: #000cad;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-menu:hover,
.btn-rega:hover,
.btn-sair:hover {
    opacity: 0.85;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    height: 100px;
}

.foto img {
    width: 80px;
    height: 80px;
    object-fit: cover;

}